<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tron</title>
    <style>
    body{
        margin: 0;
        overflow: hidden;
    }
    </style>
</head>
<body>

    <div id="app">
        <div v-if="!yaInicio">
            <h1 v-if="!color">{{ message }}</h1>
            <input type="text" @change="onCambioNombre"/>
            <input type="color" @change="onCambioColor" />
            <button @click="onIniciar">Iniciar</button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js"></script>
    <script src="./src/main.js"></script>
    <script src="./src/Logica.js"></script>
    <script src="./src/Jugador.js"></script>

    <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyANNdClv7YUFVYmvGVYP3PpFLONI0Ujf4c",
            authDomain: "club-jueg-tron.firebaseapp.com",
            databaseURL: "https://club-jueg-tron.firebaseio.com",
            projectId: "club-jueg-tron",
            storageBucket: "club-jueg-tron.appspot.com",
            messagingSenderId: "400626979223"
        };
        firebase.initializeApp(config);
    </script>
</body>
</html>